html {
	accent-color: oklch(245% 70% 5)
}
body {
	font: 100%/1.5 system-ui;
	max-width: 100ch;
	margin-inline: auto;
}
nav {
	display: flex;
	text-decoration: none;
	color: inherit;
	text-align: center;
	padding: 0.5em;
	border-bottom-style: solid;
	margin-bottom: 1px;
	border-bottom-color: oklch(80% 3% 200);
	border-bottom-width: 1px;
	a {
		flex: 1;
	}
	a:current {
		border-bottom-width: 0.4em;
	} 
	a:hover {
		border-bottom-width: 0.4em;
		border-bottom-color: oklch(245% 70% 5);
	}
}
form {
	width: 100%;
	font: inherit;
	display: grid;
	box-sizing: border-box;
	grid-template-columns: auto 1fr;
	label {
		margin-block: 1px;
	}
}
